# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch model files
*.pt
*.pth

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
